/* Estilos para hacer el formulario responsive */
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-2, .col-md-10 {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .col-md-2 {
      width: 16.6667%;
    }
    .col-md-10 {
      width: 83.3333%;
    }
  }
  
  